<div class="row">
    <div class="col-md-4"></div>
<div class="col-md-4 mb-4 mt-top">
    <div class="card indigo cover-color-login ">
        <div class="card-body cover-color-login ">
            <h3 class="text-center white-text py-3"><i class="fa fa-user"></i> Login</h3>
            <!--Body-->
            <form [formGroup]="loginForm">
            <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <input type="text" formControlName="username" id="defaultForm-email1" class="form-control text-white" placeholder="Your username">
                <div
                *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].touched || !loginForm.controls['username'].pristine)"
                class="error" >Please enter the userName.
              </div>
                <!-- <label for="defaultForm-email1">Your email</label> -->
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix white-text"></i>
                <input type="password" formControlName="password" id="defaultForm-pass1" class="form-control text-white" placeholder="your password">
                <div
                *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || !loginForm.controls['password'].pristine)"
               class="error" >Please enter the userName.
              </div>
              <div class="error" *ngIf="errMsg">{{errMsg}}</div>
            </div>
            <div class="text-center">
                <button type="button" [disabled]="!loginForm.valid" (click)="submitLogin(loginForm.value)" class="btn btn-outline-white waves-effect waves-light">Login</button>
            <a routerLink="/pages/signup">SignUp</a>
            </div>
        </form>
        </div>
    </div>
</div>

</div>