
<div class="row">
    <div class="col-lg-12">
      <div  class="cover-chart row col-md-12 ">
        <div *ngIf="okCount>0" [style.width.%]="weakCount" class="float-left weak" > </div> 
        <div *ngIf="goodCount>0" [style.width.%]="okCount"  class="float-left ok"  > </div> 
        <div *ngIf="weakCount>0" [style.width.%]="goodCount"  class="float-left good"  > </div> 
        <div *ngIf="excellentCount>0" [style.width.%]="excellentCount"  class="float-left excellent"  > </div>
        
      </div>

    </div>
    <div class=" row col-md-12 mt-3 mb-2">
        <div class="col-md-3"> <div class="ok-logo float-left"  ></div>   Ok ({{okCount}} %)</div>
        <div class="col-md-3"><div class="good-logo float-left" ></div>   Good ({{goodCount}} %)</div>
        <div class="col-md-3"><div class="weak-logo float-left" ></div>   Weak ({{weakCount}} %)</div>
        <div class="col-md-3"><div class="excellent-logo float-left" ></div>   excellent ({{excellentCount}} %)</div>
    </div>
   
  </div>