
<div class="row">
    <div class="col-md-4"></div>
<div class="col-md-4 mb-4 mt-top ">
    <div class="card indigo cover-color-login ">
        <div class="card-body ">
            <h3 class="text-center white-text py-3"><i class="fa fa-user"></i> Signup</h3>
            <!--Body-->
            <form [formGroup]="signupForm">
                <div class="md-form">
                    <i class="fa  fa-user-secret prefix white-text"></i>
                    <input type="text" formControlName="name" id="defaultForm-email1" class="form-control text-white" placeholder="Your name">
                    <div
                    *ngIf="signupForm.controls['name'].hasError('required') && (signupForm.controls['name'].touched || !signupForm.controls['name'].pristine)"
                    class="error" >Please enter the name.
                  </div>
                    <!-- <label for="defaultForm-email1">Your email</label> -->
                </div>
            <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <input type="text" formControlName="username" id="defaultForm-email" class="form-control  text-white" placeholder="Your username">
                <div
                *ngIf="signupForm.controls['username'].hasError('required') && (signupForm.controls['username'].touched || !signupForm.controls['username'].pristine)"
                class="error" >Please enter the userName.
              </div>
                <!-- <label for="defaultForm-email1">Your email</label> -->
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix white-text"></i>
                <input type="password" formControlName="password" id="defaultForm-pass1" class="form-control  text-white" placeholder="your password">
                <div
                *ngIf="signupForm.controls['password'].hasError('required') && (signupForm.controls['password'].touched || !signupForm.controls['password'].pristine)"
               class="error" >Please enter the userName.
              </div>
            </div>
            <div class="text-center">
                <button type="button" [disabled]="!signupForm.valid" (click)="submitSignup(signupForm.value)" class="btn btn-outline-white waves-effect waves-light">SignUp</button>
                <a routerLink="/pages/login">Login</a>
            </div>
        </form>
        </div>
    </div>
</div>

</div>